*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background-color: rgba(89, 184, 145, 0.589);
}
.titulo-page {
    color:white;
    background-color: #000000;
    padding: 10px;
    border-radius: 1rem;
}
nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: hsla(309, 69%, 65%, 0.105);
    width: 100vw;
    height: 100px;
    padding: $spacing-1 $spacing-1;
    background: linear-gradient(rgba(0, 0, 0, 0.026),rgba(0, 0, 0, 0.092)) , url(../img/pexels-pixabay-159711.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    ul { 
        list-style: none;

        li {
            display: inline-block;
            color:#000000;
            text-decoration: none;
            background-color: #f98383a9;
            font-weight: 500;
            font-size: 18px;
            border: black solid 2px;
            margin: 5px;
            padding: 5px;
            /* agregando transform rotate */
           transform: rotate(10deg);
           a {
            color:#000000;
           }
           @media screen and(max-width: 767px){
            display: none;

           }
          }
          li:hover{
                   background-color: #caf07e91;
    
                   }
       }
}

@keyframes fade-in {
    0% {
        transform: translatex(200 px);
        opacity: 0;
    }
    100% {
        transform: translate(0 px);
        opacity: 1;
    }
}
section {    
        display: flex;
        justify-content: space-between;          
        padding: $spacing-1;
        margin: $spacing-1;
        p {
            font-size: $font-1;
            padding: $spacing-1;
            margin: $spacing-1;
        }       
        img {
            animation-name: fade-in;
            animation-duration: 3s;
            transform: translatex(-300px);
        }
        @media screen and(max-width: 767px) {
            section{
                display: grid;
                grid-template-rows: 1fr;
            }

        }

}
footer {
    p {
        background-color: rgba(128, 128, 128, 0.477);
        font-size: 20px;
        padding: $spacing-1;
        margin: $spacing-1;
    }
}